* {
	background: maroon;
	text-fill: gold;
	margin: 0;
	padding: 0;
}


#rotation-arm {
	-webkit-transform-origin: bottom;
	-ms-transform-origin: bottom;
	transform-origin: bottom;
}

#velocity-arm {
	-webkit-transform-origin: bottom;
	-ms-transform-origin: bottom;
	transform-origin: bottom;
}

#velocity-arm-rect {
	-webkit-transform-origin: bottom;
	-ms-transform-origin: bottom;
	transform-origin: bottom;
}

/* DO NOT CHANGE ANYTHING BELOW THIS */
.column {
	float: left;
	width: 33.33%;
	border: 1px solid black;
}

/* Clear floats after columns */
.row:after {
	content: "";
	display: table;
	clear: both;
}

.greybox {
    position: fixed;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0);
}
body.login-close > .greybox {
    display: none
}
#login {
    text-align: center;
    display: block;
    margin: 14em auto 0 auto;
    width: 18em;
    overflow: hidden;
    animation: 1s linear;
    padding: 4px;
    border-radius: 5px;
    background-color: #00ffff;
}
body.login-close #login {
    opacity: 1;
    width: 0;
    animation: 1s linear;
}
#login :disabled {
    filter: opacity(0.6)
}
#login > button{
    width:6em
}
#connect{
    text-align: center;
}
button, input[type="text"], input[type="number"], .select-container, select {
    color: gold;
    background: maroon;
    border: none;
    font-size: 14px;
    padding: 6px 8px;
    cursor: pointer;
    outline: 0;
}
.select-container {
    padding: 0;
    display: inline-block;
}
select {
    border: none;
    background: none;
    color: gold;
    height: 25px;
}
input[type="text"], input[type="number"] {
    cursor: text;
}
input[type="checkbox"] {
    -webkit-filter: saturate(0);
    filter: saturate(0);
}
